<%- include('partials/landing-header') %>


<div class="container">
  <div class="container_1">
    <div class="c_1_l">
      <div class="c_1_l_header">
        <h2>Lorem ipsum dolor sit amet, elit. Integer nec odio.</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Null.</h3>
        <div class="explore_menu">
          <a class="explore_menu" href="#">Explore Menu</a>
        </div>
      </div>
    </div>
    <div class="c_1_r">
      <img src="images/dish_serving.png" alt="menu_image">
    </div>
  </div>
  <div class="container_2">
    <div class="c_2_1">
      <div class="circle"></div>
      <h3 class="f_t">Integer nec odio.</h3>
      <h4 class="f_d">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</h4>
    </div>
    <div class="c_2_2">
      <div class="circle"></div>
      <h3 class="f_t">Integer nec odio.</h3>
      <h4 class="f_d">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</h4>
    </div>
    <div class="c_2_3">
      <div class="circle"></div>
      <h3 class="f_t">Integer nec odio.</h3>
      <h4 class="f_d">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</h4>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
