<%- include('partials/login-header') %>

<div class="signup-div">
  <h1>Enter details to sign-up</h1>
  <div class="form">
    <form action="/login" method="post">
      <div class="text-box">
        <label for="phoneNo">Phone Number</label>
        <input type="number" class="form-control" name="myPhoneNo" placeholder="+91 **********">
      </div>
      <div class="text-box">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" name="login-button">login</button>
      </form>
    </div>
  </div>

<%- include('partials/footer') %>
